In the following tutorial we are going to learn how to automate filling up forms, updating CRMs and other systems using local files.

The scenario that we are going to do will include adding details from our local excel file into the online form.

At the start we will learn how to add one item, after updating one of the items we will try to loop over everything else from the excel.

### Import all required packages

In [1]:
from selenium import webdriver #import webdriver - launch browser
from selenium.webdriver.common.by import By # search using specific parameters.
from selenium.webdriver.support.ui import WebDriverWait #wait for a page to load. 
from selenium.webdriver.support import expected_conditions as EC #wait for specific element to be loaded.
from selenium.common.exceptions import TimeoutException # timeout errors

import pandas as pd

### Read CSV

In [3]:
data = pd.read_excel("./input_items.xlsx")

In [4]:
data.head(5)

,price,manufacturer,model,fuel,description
0,10299,acura,tl,gas,2012 Acura TL Base 4dr Sedan Offered by: B...
1,0,bmw,335,gas,BMW 3 Series 335i Convertible Navigation Dakot...
2,9500,jaguar,xf,gas,2011 jaguar XF premium - estate sale. Retired ...
3,3995,honda,element,gas,2004 Honda Element LX 4dr SUV Offered by: ...
4,41988,chevrolet,silverado k2500hd,gas,"Shop Indoors, Heated Showroom!!!www.gretnaauto..."

### Create browser and open link

### Check if page was loaded

### Input manufacturer

### Input model

### Input price

### Input description

### Submit form